* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 5fr;
  grid-template-rows: 1fr 6fr;
}

/* SIDEBAR START */

.sidebar {
  background-color: rgb(28, 148, 211);
  grid-row: 1 / 3;
  gap: 10px;
  color: white;
  padding: 10px;
}

.sidebar > .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  gap: 10px;
}

.navigation {
  padding: 25px;
  padding-left: 10px;
  padding-top: 50px;
}

.navigation a {
  text-decoration: none;
}

.menu > ul {
  list-style-type: none;
}

.nav-li {
  padding-bottom: 20px;
}

.nav-icon {
  background-image: url("img/menu_items/home.png");
  background-repeat: no-repeat;
  background-size: 25px;
  padding-top: 7px;
  padding-left: 44px;
}

.link-name {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#home {
  background-image: url("img/menu_items/home.png");
}

#profile {
  background-image: url("img/menu_items/profile.png");
}

#messages {
  background-image: url("img/menu_items/messages.png");
}

#history {
  background-image: url("img/menu_items/history.png");
}

#tasks {
  background-image: url("img/menu_items/tasks.png");
}

#communities {
  background-image: url("img/menu_items/communities.png");
}

#secondSet {
  padding-top: 50px;
}

#settings {
  background-image: url("img/menu_items/settings.png");
}

#privacy {
  background-image: url("img/menu_items/privacy.png");
}

#support {
  background-image: url("img/menu_items/support.png");
}

/* SIDEBAR END */

/* HEADER START */

.header {
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.mediaContainer {
  display: inline-flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 25px;
}

.inputField {
  border-radius: 10px;
  background-color: rgba(226, 232, 240, 255);
  border: 0;
  width: 100%;
}

.r1c2 {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  padding-right: 15px;
}

.r2c1 {
  display: flex;
  gap: 25px;
}

.r2c2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerBtn {
  height: 40px;
  width: 100px;
  background-color: rgba(25, 146, 212, 255);
  border: 0;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#headerSearchIcon {
  background-image: url("img/header/search.png");
}

/* HEADER END */

/* MAIN BEGIN */

.main {
  background-color: rgba(226, 232, 240, 255);
  display: grid;
  grid-template-columns: 3fr 1.25fr;
  grid-template-rows: 1fr 1fr;
  padding: 25px;
}

.main-c1 {
  grid-row: 1 / 3;
}

.main-title {
  margin-bottom: 15px;
}

/* MAIN END */

/* SIDE PANEL BEGIN */

.sidePanel {
  background-color: white;
  border-radius: 15px;
}

.card {
  padding: 15px;
}

.card-inner-container {
  border-bottom: 1.5px groove gray;
  padding-bottom: 15px;
}

.card-trending {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 15px;
}

.card-image {
  grid-row: 1 / 3;
}

.main-c2r2 {
  margin-top: 25px;
}

.card-user-text {
  font-weight: bold;
}

/* SIDE PANEL END */
